@media screen and (max-width: 479px) {

.header{
    width: 200px;
    height: 200px;
}

.border-box{
    width: 60px;
    height: 160px;
    top: 20px;
    right: 70px;
}

.box1{
    top: 10px;
    left: 10px;
}

.box2{
    top: 60px;
    left: 10px;
}

.box3{
    top: 110px;
    left: 10px;
}

.left{
    width: 200px;
    height: 100px;
    float: none;
}

.right{
    width: 200px;
    height: 220px;
    float: none;
}
.block1 {
    top: 20px;
    left: 30px;
}

.block2 {
    
    top: 80px;
    left: 30px;
}

.block3 {
    
    top: 140px;
    left: 30px;
}


.block4 {

top: 5px;
    left: 5px;
}


.block5 {  
    
top: 5px;
    right: 5px;
}


.block6 {
    
    top: 5px;
        right: 5px;
}

.footer {
    width:200px;
}

}

